@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
::selection {
    background-color: yellow;
    color: white;
  }  
header {
    background-image: url(./photos/img_bg_2.jpg.webp);
    background-size: 100%;
    height: 600px;
    color: white;
}

.row {
    display: flex;
    justify-content: space-evenly;
    margin-left: 700px;
    width: 800px;
    font-size: 16px;
    margin-bottom: 10px;
}

.yellow-p:hover {
    color: rgb(255, 221, 0);
}

.tour-page {
    font-size: 24px;
    padding: 20px 0 0 20px;
}

.tour-name {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 32px;
    margin-top: 200px;
}

.yellow-div {
    background-color: rgb(44, 46, 62);
    width: 110px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.blocks {
    display: flex;
    justify-content: space-evenly;
    width: 460px;
    margin: 200px 0 0 120px;
}

.check-ins {
    background-color: rgb(44, 46, 62);
    height: 200px;
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.location,
.date,
.num {
    padding-left: 15px;
    background-color: rgb(51, 53, 68);
    height: 50px;
    border: 2px solid rgb(148, 149, 157);
}

.date {
    width: 200px;
}

.location,
.num {
    width: 300px;
}

.location::placeholder,
.date::placeholder {
    color: rgb(148, 149, 157);
}

.flight-button {
    background-color: rgb(255, 221, 0);
    border-radius: 25px;
    width: 200px;
    height: 50px;
    color: rgb(44, 46, 62);
}

.about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    text-align: center;
    background-image: url("./photos/bluee.jpg");
}

.info-block {
    display: flex;
    flex-direction: column;

}

.round {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 247, 247);
    width: 150px;
    height: 150px;
    margin: 0 0 25px 25px;
    border-radius: 50%;
}

.main-info,
.popular-info {
    color: black;
    font-size: 20px;
}

.desc {
    width: 200px;
    font-size: 15px;
    color: rgb(116, 116, 116);
}
.popular-name{
    padding-top: 100px;
}
.popular-info {
    margin-left: 615px;
    font-size: 32px;
}

.popular-desc, .recent-desc {
    font-size: 14px;
    color: rgb(116, 116, 116);
    padding: 30px 450px 30px 450px;
    text-align: center;
}

.popular {
    background-color: rgb(250, 250, 250);
    height: 1000px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 80px;
}

.stars {
    display: flex;
}

.gray {
    color: rgb(116, 116, 116);
    font-size: 14px;
    margin: 10px 0;
}

.black {
    color: black;
    font-size: 18px;
}
.display1{
    position: absolute;
    top: 120px;
    left: 10px;
    display: none;
}
.display2{
    position: absolute;
    top: 120px;
    left: 390px;
    display: none;
}
.display3{
    position: absolute;
    top: 120px;
    left: 770px;
    display: none;
}
.display4{
    position: absolute;
    top: 120px;
    left: 1150px;
    display: none;
}
.display5{
    position: absolute;
    top: 430px;
    left: 10px;
    display: none;
}
.display6{
    position: absolute;
    top: 430px;
    left: 390px;
    display: none;
}
.display7{
    position: absolute;
    top: 430px;
    left: 770px;
    display: none;
}
.display8{
    position: absolute;
    top: 430px;
    left: 1150px;
    display: none;
}
.greece:hover + .display1{
    display:block;
}
.greece:hover + .display2{
    display:block;
}
.greece:hover + .display3{
    display:block;
}
.greece:hover + .display4{
    display:block;
}
.greece:hover + .display5{
    display:block;
}
.greece:hover + .display6{
    display:block;
}
.greece:hover + .display7{
    display:block;
}
.greece:hover + .display8{
    display:block;
}
.greece:hover {
    position: relative;
    bottom: 150px;
}
.column, .colunm{
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: space-evenly;
    margin-left: 50px;
}
.colunm{
    width: 300px;
}
.recent-img{
    margin-left: 180px;
}
.recent-info{
    color: black;
    font-size: 32px;
    margin: 120px 0 5px 650px;
}
.recents{
    display: flex;
    margin-top: 50px;
}
.round-rec{
    border-radius: 100%;
}
.row-recent{
    display: flex;
}
.sale{
    background-image: url(./photos/overlayimg.webp);
    height: 450px;
    margin-top: 100px;
}